* {
    margin: 0px;
    box-sizing: border-box;
    font-family:sans-serif;
  }
  html{
    font-size: 110%;
  }
  .logo{
    color: white;
  }
  .nav {
    display: flex;
    height: 10vh;
    width: 100vw;
    background: #304352; 
    background: -webkit-linear-gradient(to right, #d7d2cc, #304352); 
    background: linear-gradient(to right, #d7d2cc, #304352);
    justify-content: space-around;
    align-items: center;
    position:fixed ;
    z-index: 1000;
  }
  .nav ul {
    list-style: none;
  }
  .nav ul li {
    display: inline;
    padding: 10px;
    /* ---its works as a margin--- */
    display: inline-block;
  }
  .nav ul li a {
    text-decoration: none;
    color: white;
    /* font-family: gabriola; */
    /* font-size: 70%; */
    font-weight: bold;
  }
  .nav ul li a:hover {
    background: -webkit-linear-gradient(#253745,#9BA8AB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 5px;
  }

  /* main section*/

/* .First-section{
    height: 80vh;
    width:100vw;
    
  } */
  .First-section {
    height: 83vh;
    width:100vw;
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
    /* margin-top: 10vh; */
    background-image: url(assets/pic6.jpg);
  }
  .text-box{
    height: 20vh;
    width:20vw;
    background-color: black;
    position: absolute;
  }
 .second-section{
    height: 80vh;
    width:100vw;
    background: -webkit-linear-gradient( 94.3deg,  rgb(38, 40, 47) 10.9%, rgb(41, 41, 44) 87.1% );
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 50px;
  }
  .box{
   height: 50vh;
   width: 30vw;
   background-color: rgb(7, 7, 8);
   border-radius: 120px 120px 10px 120px;
   -webkit-box-shadow: 10px 10px 5px 16px rgba(0,0,0,0.75);
   -moz-box-shadow: 10px 10px 5px 16px rgba(0,0,0,0.75);
   box-shadow: 10px 10px 5px 16px rgba(0,0,0,0.75);
   box-shadow: 10px 10px 20px rgba(255, 246, 246, 0.392);
  }
  .third-section{
    height: 80vh;
    width:100vw;
    background: -webkit-linear-gradient( 94.3deg,  rgb(38, 40, 47) 10.9%, rgb(41, 41, 44) 87.1% );
  }
  .third-box{
    hi
  }
  .fourth-section{
    height: 80vh;
    width:100vw;
    background: -webkit-linear-gradient( 94.3deg,  rgb(38, 40, 47) 10.9%, rgb(41, 41, 44) 87.1% );
  }
  .footer{
    height: 55vh;
    width:100vw;
    background: #304352; 
    background: -webkit-linear-gradient(to right, #d7d2cc, #304352); 
    background: linear-gradient(to right, #d7d2cc, #304352);
    display: grid;
    grid-template-columns: repeat(3,50vh);
    column-gap: 10rem;
  }
  .contact{
  background-color: darkslategray;
  }
  .links{
    background-color: darkslategray;
    }
  .social-media{
      background-color: darkslategray;
      }